* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid red 1px; */
}

body {
  --color-nav: #fff159;
  --bg-fondo: #ebebeb;
  background: var(--bg-fondo);
}

/*TODO: Navbar */

.content {
  padding: 5px;
  max-width: 100vw;
  background: var(--color-nav);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.location {
  margin-right: 60px;
}

.location .logo1{
  width: 100%;
  height: 50px;
}

a {
  text-decoration: none;
}

.search input {
  width: 520px;
  height: 45px;
  margin-bottom: 15px;
  padding: 0 10px;
  border: none;
}

.search-icon{
display: flex;
}

.search-icon .icon-search{
  background: #fff;
  border-left: solid 1px rgb(196, 194, 194);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-search img, 
.products-navbar img, 
.cuenta .cuenta-navbar img{
  width: 16px;
  aspect-ratio: 1/1;
}

.ubicacion-navbar{
  display: flex;
  gap: 10px;
}

.ubicacion-navbar img{
  width: 24px;
  aspect-ratio: 1/1;
}

.products-navbar ul {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
  font-size: 15px;
}

.cuenta-navbar ul {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  list-style: none;
  font-size: 16px;
}

.cuenta {
  margin-right: 50px;
}

.cuenta .logo-publicidad {
  width: 350px;
  height: 40px;
}

/* TODO: Carrusel */

.content-main {
  width: 100vw;
  /* height: 400px; */
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.content-main img {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}

/* Pago */
.content-pago {
  background: #ffffff;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  border-radius: 3px;
}

.card-pago {
  display: flex;
  margin: 0 5px;
}

.img-pago {
  width: 45px;
  aspect-ratio: 1/1;
}

.metodo {
  margin: 10px;
}

.metodo p {
  font-size: 1.2rem;
}

/* Ofertas */

.content-ofertas, .card-beneficios {
  margin: 0 auto;
  width: 90%;
}

.content-ofertas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.ofertas {
  margin: 40px 0;
  display: flex;
  align-items: flex-end;
}

.ofertas span {
  font-size: 30px;
  margin-right: 10px;
}

.ofertas a {
  font-size: 20px;
}

.card-ofertas,
.card-precio {
  width: 300px;
  display: flex;
  background: #fff;
}

.card-ofertas {
  position: relative;
  justify-content: center;
  justify-items: flex-start;
  border-bottom: 1px solid rgb(196, 194, 194);
}

.card-ofertas .icon-ofertas {
  width: 40px;
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 50% rgb(185, 185, 185);
  z-index: -1;
}

.card-precio {
  position: relative;
  background: #fff;
  flex-direction: column;
  padding-left: 16px;
  padding: 20px 15px;
}

.content-card {
  width: 300px;
}

.content-card:hover {
  box-shadow: 3px 10px 22px -8px rgba(148, 148, 148, 1);
  -moz-box-shadow: 3px 10px 22px -8px rgba(148, 148, 148, 1);
  box-shadow: 3px 10px 22px -8px rgba(148, 148, 148, 1);
  cursor: pointer;
}

.content-card:hover .card-ofertas .icon-ofertas,
.content-card:hover .text-card,
.content-card:hover {
  z-index: 0;
}

.card-ofertas img {
  width: 250px;
  aspect-ratio: 1/1;
  overflow: hidden;
  padding: 10px;
}

.card-precio span:nth-child(2n) {
  font-weight: bold;
}

.card-precio p:first {
  font-size: 24px;
  font-weight: bold;
}

.card-precio .text-card {
  font-size: 1.25rem;
  color: rgb(143, 143, 143);
  margin: 8px 0;
  z-index: -1;
}

.card-precio span {
  color: #17ae60;
  font-size: 18px;
}


/* Beneficio Mercado Puntos */

.card-beneficios{
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 5px;
}

.card-beneficios .card-b img{
  border-radius: 10px;
  width: 380px;
  height: 246px;
}


@media (max-width: 1310px) {

  .content{
    justify-content: space-around;
  }
  .location{
    margin-right: 2px;
  }

  .cuenta{
    margin-right: 2px;
  }
  
  .search{
    order: 2;
  }

  .content-main, .content-main img{
    height: 300px;
  }
  .card-beneficios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .ofertas .ofertas-beneficios{
    font-size: 1.375rem;
  }

  .content{
    justify-content: space-around;
  }
}

@media (max-width: 1093px) {
  .cuenta-navbar ul{
    margin-top: 5px;
  }

  .location{
    display: flex;
    flex-direction: row;
  }

  .search{
    margin-top: 10px;
  }

  .content-ofertas{
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .card-ofertas, .card-precio, .content-card{
    width: 240px;
  }

  .card-ofertas img{
    width: 190px;
  }
}

@media (max-width: 845px){
  /* .content-main, .content-main img{
    height: 150px;
  } */

  .content-ofertas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .location{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }
  .search ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.search-icon input {
  width: 300px;
}

.card-beneficios .card-b img{
  width: 320px;
  height: 166px;
}
}

@media (max-width: 651px){
  .content-main, .content-main img{
    height: 291px;
  }
}
